{% import 'CalendarBundle:Default:default_calendar_blocks.html.twig' as baseCalendarBlocks %}

{% block calendar_header_filters %}
    <td rv-each-category="categories|toArray" class="category invisible"
        rv-class-disabled="category.disabled"
        rv-class-active_td="category.active" rv-colspan="category.masters|count"
        rv-on-click="view.categoryDisableOther">
        { category.name }
    </td>
{% endblock %}

{% block week_header_filters %}
    <td rv-each-day="weekOptions.days|toArray" class="day"
        rv-colspan="2"
        rv-on-click="view.openDayCalendar">
        <div>{ day|date_readable }</div>
        <div rv-each-category="categories|toArray" class="cat invisible"
             rv-class-disabled="category.disabled"
             rv-class-active_td="category.active"
             rv-on-click="view.categoryDisableOther">
            { categornote_edit_formy.name }
        </div>
    </td>
{% endblock %}

{% block week_note_inside %}
    rv-css-height="note.model:duration|timeToPixel"
    rv-css-top="note.getTopOffset"
    rv-each-note="column.view.notes"
    rv-class-by_site="note.model:bySite"
    rv-data-note="note.model:id"
    rv-resizable-note="note"
    rv-data-column="column.view.model:id"
    rv-data-category="column.view.model:category"
    rv-add-el="note"
    rv-silent-move="column.view"
    rv-on-dblclick="note.showInfo"
    rv-draggable-note="note"
    rv-class-offset_top="note.model:reserveStart"
    rv-class-offset_bottom="note.model:reserveEnd"
    rv-data-day-id="day_info.day.day_id"
{% endblock %}

{% block current_day_note_inside %}
    rv-css-height="note.model:duration|timeToPixel"
    rv-css-top="note.getTopOffset"
    rv-each-note="column.view.notes"
    rv-class-by_site="note.model:bySite"
    rv-data-note="note.model:id"
    rv-resizable-note="note"
    rv-data-column="column.view.model:id"
    rv-data-category="column.view.model:category"
    rv-add-el="note"
    rv-silent-move="column.view"
    rv-on-dblclick="note.showInfo"
    rv-draggable-note="note"
    rv-class-offset_top="note.model:reserveStart"
    rv-class-offset_bottom="note.model:reserveEnd"
    rv-data-day-id="dayOptions.currentDay"
{% endblock %}

{% block next_day_note_inside %}
    rv-css-height="note.model:duration|timeToPixel"
    rv-css-top="note.getTopOffset"
    rv-each-note="column.view.notes"
    rv-class-by_site="note.model:bySite"
    rv-data-note="note.model:id"
    rv-resizable-note="note"
    rv-data-column="column.view.model:id"
    rv-data-category="column.view.model:category"
    rv-add-el="note"
    rv-silent-move="column.view"
    rv-on-dblclick="note.showInfo"
    rv-draggable-note="note"
    rv-class-offset_top="note.model:reserveStart"
    rv-class-offset_bottom="note.model:reserveEnd"
    rv-data-day-id="dayOptions.nextDay"
{% endblock %}

{% block column_inside %}
    <div rv-each-note="column.view.notes" style="width: 310px;"
         class="note-edit db-close" rv-class-key1="note.model:edit"
         rv-class-key2="column.showPopup"></div>
    <div rv-each-note="column.view.notes" style="width: 250px;"
         class="note-edit db-close" rv-class-key1="note.showInfo"
         rv-class-key2="column.showPopup"></div>
    <div class="runner-field">
        <div class="mark db-close"
             rv-class-key1="column.mark"
             rv-class-key2="view.options.markAbility"
             rv-css-top="column.markTop"
                >
        </div>
    </div>
    <div class="info-field">
        <div class="note"
             {{ block(note_inside) }}
                >
            <img class="" rv-if="note.model:propose" src="{{ asset('/bundles/home/img/calend_sale.png') }}"/>
            <div class="note-small-info">
                <div class="service">
                    { note.model:service.name }
                </div>
                <div class="customer">
                    <a href="/profile/customer/list"><span rv-text="note.model:firstName"></span> <span rv-text="note.model:lastName"></span></a>
                </div>
                <div class="phone">
                    <span rv-text="note.model:phone"></span>
                </div>
            </div>
        </div>
        <div class="buffer"
             rv-each-buffer="column.view.buffers"
             rv-css-height="buffer.height"
             rv-css-top="buffer.start"
             rv-silent-move="column.view"
             rv-on-click="column.view.stopPropagation"
                >
            <img class="fl-l" rv-if="note.model:propose" src="{{ asset('/bundles/home/img/calend_sale.png') }}"/>
            <div class="note-small-info">
                <div class="service">
                    { note.model:service.name }
                </div>
                <div class="customer">
                    <a href="/profile/customer/list"><span rv-text="note.model:firstName"></span> <span rv-text="note.model:lastName"></span></a>
                </div>
                <div class="phone">
                    <span rv-text="note.model:phone"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="note-popups">
        <div class="note"
             rv-each-note="column.view.notes"
             rv-data-note="note.model:id"
             rv-data-column="column.view.model:id"
             rv-data-category="column.view.model:category"
             rv-css-top="note.popupOffsetTop"
             rv-class-offset_top="note.model:reserveStart"
             rv-class-offset_bottom="note.model:reserveEnd"
                >
            {{ baseCalendarBlocks.note_edit_form() }}
            {{ baseCalendarBlocks.note_info_popup() }}
        </div>
    </div>
{% endblock %}
{% macro week_calendar() %}
    {% import 'CalendarBundle:Default:default_calendar_blocks.html.twig' as baseCalendarBlocks %}
    <div class="calendar-container" rv-class-hidden="hidden">
        <div class="message hidden clearfix" rv-if="data.attributes.message">
            <div class="text pull-left" rv-text="data.attributes.message"></div>
            <span class="close glyphicon glyphicon-remove" rv-on-click="view.closeMessage"></span>
        </div>
        <div class="clearfix">
            <div class="fl-l">
                <div class="empty-data week" rv-on-click="view.activateAll">
                    Все расписание на неделю
                </div>
                <div class="time-labels clearfix">
                    {{ baseCalendarBlocks.time_labels() }}
                    <div class="dilimiter"></div>
                </div>
            </div>
            <div class="table-wrapper fl-l" rv-scroll="view.weekCalendar">
                <table class="days">
                    <tr>
                        <td class="day-header" rv-each-day_info="columns|toArray">
                            <div class="header-date" rv-on-click="view.choseDayAndDayCalendar">{ day_info.day.day|date_readable }</div>
                            <table class="columns">
                                <tr class="header time-labels">
                                    <td rv-each-column="day_info.columns|toArray" class="salon invisible"
                                        rv-on-click="view.activateWeekAndMasterOnlyCallback"
                                        rv-class-active_td="column.show">
                                        <div>{ column.view.model:name }</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td rv-each-column="day_info.columns|toArray"
                                        class="invisible work-column"
                                        rv-class-active_td="column.show"
                                        {#rv-class-active_td="column.view.model:active"#}
                                        rv-data-grid="calendarOptions.workGridStart"
                                        rv-click="column.view.clickHandler"
                                        rv-on-dblclick="column.view.addNote"
                                        rv-dropable-column="column"
                                        rv-css-height="calendarOptions.height"
                                            >
                                        {% set note_inside = 'week_note_inside' %}
                                        {{ block('column_inside') }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endmacro %}
{% macro day_calendar() %}
    {% import 'CalendarBundle:Default:default_calendar_blocks.html.twig' as baseCalendarBlocks %}
    <div class="calendar-container" rv-class-hidden="hidden">
        <div class="message hidden clearfix" rv-if="data.attributes.message">
            <div class="text pull-left" rv-text="data.attributes.message"></div>
            <span class="close glyphicon glyphicon-remove" rv-on-click="view.closeMessage"></span>
        </div>
        <div class="clearfix">
            <div class="fl-l">
                <div class="empty-data day" rv-on-click="view.activateAll">
                    Все расписание на день
                </div>
                <div class="time-labels clearfix">
                    {{ baseCalendarBlocks.time_labels() }}
                    <div class="dilimiter"></div>
                </div>
            </div>
            <div class="table-wrapper fl-l" rv-scroll="view.dayCalendar">
                <table class="days">
                    <tr>
                        <td class="current day-header">
                            <div class="header-date">
                                <span>Сегодня, </span><span rv-text="currentDay.day.day|date_readable"></span>
                            </div>
                            <table class="columns">
                                <tr class="header time-labels">
                                    <td rv-each-column="currentDay.columns" class="salon invisible"
                                        rv-on-click="view.activateWeekAndMasterOnlyCallback"
                                        rv-class-active_td="column.show">
                                        <div>{ column.view.model:name }</div>
                                    </td>
                                    </tr>
                                <tr>
                                    <td rv-each-column="currentDay.columns"
                                        class="invisible work-column"
                                        rv-class-active_td="column.show"
                                        {#rv-class-active_td="column.view.model:active"#}
                                        rv-data-grid="calendarOptions.workGridStart"
                                        rv-click="column.view.clickHandler"
                                        rv-on-dblclick="column.view.addNote"
                                        rv-dropable-column="column"
                                        rv-css-height="calendarOptions.height"
                                        rv-data-day-id="dayOptions.currentDay"
                                            >
                                        {% set note_inside = 'current_day_note_inside' %}
                                        {{ block('column_inside') }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="next day-header" rv-class-hidden="hideNext">
                            <div class="header-date">
                                <span>Завтра, </span><span rv-text="nextDay.day.day|date_readable"></span>
                            </div>
                            <table class="columns">
                                <tr class="header time-labels">
                                    <td rv-each-column="nextDay.columns" class="salon invisible"
                                        rv-on-click="view.activateWeekAndMasterOnlyCallback"
                                        rv-class-active_td="column.show">
                                        <div>{ column.view.model:name }</div>
                                    </td>
                                    </tr>
                                <tr>
                                    <td rv-each-column="nextDay.columns"
                                        class="invisible work-column"
                                        rv-class-active_td="column.show"
                                        {#rv-class-active_td="column.view.model:active"#}
                                        rv-data-grid="calendarOptions.workGridStart"
                                        rv-click="column.view.clickHandler"
                                        rv-on-dblclick="column.view.addNote"
                                        rv-dropable-column="column"
                                        rv-css-height="calendarOptions.height" rv-data-day-id="dayOptions.nextDay"
                                            >
                                        {% set note_inside = 'next_day_note_inside' %}
                                        {{ block('column_inside') }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                {#<table class="columns"#}
                       {#rv-call="view.initializeTable"#}
                        {#>#}
                    {#<tr class="header">#}
                        {#{{ block("calendar_header_filters") }}#}
                    {#</tr>#}
                    {#{{ block("column") }}#}
                {#</table>#}
            </div>
        </div>
    </div>
{% endmacro %}