{% extends "UserBundle:Profile:edit_layout.html.twig" %}

{% import "CalendarBundle:Default:default_calendar_blocks.html.twig" as baseCalendarBlocks %}
{% import "CalendarBundle:Default:salon_calendar_blocks.html.twig" as salonCalendarBlocks %}
{% block form_content %}
    <div class="day-calendar hidden container">
        <div class="header">
            <div class="clearfix">
                <h2 class="pull-left">Расписание на день</h2>
                <div class="pull-left"><a href="#" class="week-activate"
                                          rv-class-hidden="data:weekCalendar"
                                          rv-on-click="view.showWeekCalendar">Перейти в календарь на неделю</a></div>
                <div class="pull-left"><a href="#" class="day-activate invisible"
                                          rv-on-click="view.showDayCalendar"
                                          rv-class-active="data:weekCalendar">Перейти в календарь на день</a></div>
            </div>
        </div>
        <div class="calendar-container">
            <div class="info">
                <div>1. Чтобы создать запись нажмите на пустом месте в графе нужного мастера</div>
                <div>2. Чтобы узнать детальную информацию кликните на интересующую вас ячейку таблицы</div>
            </div>
            <div class="calendar">
                <div class="categories-list">
                    <div class="sub-head">Фильтр по категориях</div>
                    <div>Вы можете выбрать сразу несколько услуг или только одну. Нажмите на выделение, чтобы снять его.</div>
                    {{ baseCalendarBlocks.categories_filter() }}
                </div>
                <div class="categories-list invisible" rv-class-active="data:weekCalendar">
                    <div class="sub-head">Фильтр по мастерах</div>
                    <div>Вы можете выбрать сразу несколько. Нажмите на выделение, чтобы снять его.</div>
                    {{ baseCalendarBlocks.masters_filter() }}
                </div>
                <div class="widgets clearfix">
                    <div class="legend fl-l">
                        <div class="clearfix">
                            <div class="in-site legend-ico fl-l"></div><span>Запись через Beauty&Secret</span>
                        </div>
                        <div class="clearfix">
                            <div class="even legend-ico fl-l"></div><span>Обычная запись</span>
                        </div>
                    </div>
                    <div class="data-switcher fl-l">
                        {{ baseCalendarBlocks.data_filter() }}
                    </div>
                    <div class="remove-container fl-l">
                        {{ baseCalendarBlocks.remove_widget() }}
                    </div>
                </div>
                <div class="calendar" rv-class-hidden="data:weekCalendar">
                    {{ salonCalendarBlocks.day_calendar() }}
                </div>
                <div class="calendar invisible" rv-class-active="data:weekCalendar">
                    {{ salonCalendarBlocks.week_calendar() }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block data_block %}
    window.OrderSystem = {};
    OrderSystem.categories = {{ services|json_encode|raw }};


    OrderSystem.schedule = {{ user.schedule.jsonSerialize|json_encode|raw }};
    OrderSystem.bySite = true;
    OrderSystem.masters = {{ masters|json_encode|raw }};
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/calendar/css/calendar.css') }}"/>
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@HomeBundle/Resources/public/js/avatar.view.js'
        '@HomeBundle/Resources/public/js/models/avatar.model.js'

        '@CalendarBundle/Resources/public/js/models/schedule.js'

        '@ServicesBundle/Resources/public/js/even_master/even_master.model.js'
        '@CalendarBundle/Resources/public/js/models/calendar/column_info.js'
        '@CalendarBundle/Resources/public/js/models/calendar/calendar_info.js'
        '@CalendarBundle/Resources/public/js/models/calendar/day_calendar_info.js'

        '@CalendarBundle/Resources/public/js/models/calendar_note.js'
        '@CalendarBundle/Resources/public/js/models/order_note.js'

        '@CalendarBundle/Resources/public/js/views/calendar_components/base_calendar.js'
        '@CalendarBundle/Resources/public/js/views/calendar_components/day_calendar.js'
        '@CalendarBundle/Resources/public/js/views/calendar_components/column.js'
        '@CalendarBundle/Resources/public/js/views/calendar_components/note.js'
        '@CalendarBundle/Resources/public/js/views/calendar_components/salon_note.js'
        '@CalendarBundle/Resources/public/js/views/calendar_components/table.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        initializeAvatar(OrderSystem);
        initializeBasePopup(OrderSystem);
        initializeAvatarView(OrderSystem);

        initializeSchedule(OrderSystem);

        initializeEvenMasterModel(OrderSystem);

        initializeColumnInfo(OrderSystem);
        initializeColumn(OrderSystem);

        initializeCalendarNote(OrderSystem);
        initializeOrderNote(OrderSystem);
        initializeBaseNote(OrderSystem);
        initializeNote(OrderSystem);

        initializeCalendarInfo(OrderSystem);
        initializeDayCalendarInfo(OrderSystem);
        initializeBaseCalendar(OrderSystem);
        initializeDayCalendar(OrderSystem);

        $(document).ready(function(){
            OrderSystem.bothData = {};
            OrderSystem.dayCaledarView = new OrderSystem.DayCalendarView({
                el: $('.day-calendar')[0],
                categories: OrderSystem.categories,
                proposes: {{ proposes|json_encode|raw }},
                schedule: OrderSystem.schedule,
                bySite: OrderSystem.bySite,
                calendarsData: OrderSystem.bothData,
                weekCalendar: {{ weekCalendarDefault?'true':'false' }},
                date: new Date({{ date.timestamp * 1000 }}),
                showNotes: {{ showNotes|json_encode|raw }}
            });
        });
    </script>
{% endblock %}